<ion-view title="Recruiting Companies">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- hrm, header shrink isnt working... -->
  <ion-content class="has-header" header-shrink scroll-event-interval="5">

          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="searchText" />
          </label>

          Sort by: 
          <button class="button button-small button-positive button-outline icon ion-arrow-swap" ng-click="sortType='name'; asc=!asc"> Name </button>

          <button class="button button-small button-calm button-outline icon ion-arrow-swap" ng-click="sortType='booth'; asc=!asc"> Booth </button>





        <div class="ionic list">

        <!-- can i assign the filter here? -->
        <div ng-repeat="c in filteredList = (companies |  filter:searchText | orderBy:sortType:asc)">

          <a href="#/app/companies/{{c.nameId}}" class="item item-avatar">
          <img ng-src="./img/logos/{{c.nameId}}/square.png" /> 
        <h2>{{c.name}}</h2>

        <p>Back off, man. I'm a scientist.</p>
        </a>

      </div>


    </div>

    <!--
    <ion-list>

      <ion-item ng-repeat="c in filteredList = (companies |  filter:searchText | orderBy:sortType:asc)" class="item-thumbnail-left" href="#/app/companies/{{c.nameId}}">

      <img ng-src="./img/logos/{{c.nameId}}/{{c.nameId}}-square.png" /> 
        <h2>{{c.name}}</h2>
      </ion-item>

    </ion-list>
    -->

  </ion-content>
</ion-view>
