<ion-view title="{{company.name}}" left-buttons="leftButtons">
  <ion-content>
  
        <img class="full-image item" style="max-height: 250px; max-width: 800px;"ng-src="./img/logos/{{company.id}}/wide.png" />

    <!--{{ company | json }}

    <li ng-repeat="i in industries">{{i.name}} | {{i.friendlyName}}</li>
    <li ng-repeat="m in majors">{{m.name}} | {{m.friendlyName}}</li>
    <li ng-repeat="p in positions">{{p.name}} | {{p.friendlyName}}</li>
    ->


    <!--Un-star this company (label 0 or exists)"
instead of boolean 0 1 its 0 "label that exists to prompt un-starring" -->

<!-- for some reason, the plunker will change the star fill with the toggle, but this wont?? --><!--ng-true-value="Un-star this company"
          ng-false-value="Star this company"-->
    <ion-toggle class="item item-icon-left"
          ng-model="company.starred" toggle-class="toggle-royal">
      <i class="icon royal"
          ng-class="company.starred ? 'ion-ios7-star':'ion-ios7-star-outline'"></i>
      <span>{{company.name}}</span>
      <span class="item-note"> {{company.starred}}</span> <!-- need initial text....??? -->
    </ion-toggle>
    <a class="item item-icon-right positive" href="#/iday/map/{{company.id}}">
      <i class="icon ion-navigate"></i>
      Booth # {{company.booth}}: {{company.room}} (Floor {{company.floor}})
      <!-- {{company.room}} Room, (Floor {{company.floor}}), Booth # {{company.booth}} -->
    </a>




    <!-- TODO: if none (majors or positions), then output to user (none) or soemthing -->

      <h3> Majors </h3>
        <li ng-repeat="m in majors" ng-show="company[m.name]">{{m.friendlyName}}</li>
        <br>

    
        <div class="item item-divider"> Positions </div>
        <!--h3> Positions </h3-->
        <span ng-repeat="p in positions">
         {{company[p.name] | checkmark }} {{p.friendlyName}} &nbsp;&nbsp; </span>

          <!--h3 class="item item-body"> Description </h3-->

          <div class="item item-divider"> Description </div>
        <p class="padding">{{company.description}}</p>


<div class="item item-icon-left"> <i class="icon ion-information-circled"></i>{{company.type}} </div>
<div class="item item-icon-left"> <i class="icon ion-briefcase"></i>{{company.industry}} </div>

<div class="item item-icon-left"> <i class="icon ion-location"></i>{{company.city}}, {{company.state}}&nbsp;&nbsp; {{company.zip}} </div>
    

<div class="item item-divider">
  <a href="{{company.website}}" target="_blank">{{company.website}} <i class="icon ion-share button-large"></i></a>
</div>

<div class="item item-divider">
  <a class="clear" href="https://www.myinterfase.com/mccormick_northwestern/contactregistration.aspx?emp_id={{company.empId}}" target="_blank"> <strong>McCormick</strong><em>Connect</em> Employer Info </a>
</div>

<!-- formatting for mccormick connect seems to be overridden, particularly italic -->

<div class="button-bar">
  <!--a href="{{company.facebook}}" target="_blank">
  <i class="icon ion-social-facebook-outline" style="font-size:32px;"></i>
  </a-->
  <a class="button button-positive icon ion-social-facebook" href="{{company.facebook}}" target="_blank">

  <a class="button button-calm icon ion-social-twitter" href="{{company.twitter}}" target="_blank">

  <a class="button button-dark icon ion-social-linkedin" href="{{company.linkedin}}" target="_blank">
</a>
</div>
    
  </ion-content>
</ion-view>



<!--ion-view title="{{company.name}}  | Details">
  <ion-content>

    <div class="list card">
      <img class="full-image item" ng-src="http://lizzb.github.io/iday/www/img/logos/{{company.compId}}/wide.png" />


      <div class="item item-body">
        <!--script>console.log("p: ", p); {{company[p.name] | checkmark }} {{p.toString() | friendlyName}} &nbsp;&nbsp;</scrip->

        <h3> Positions </h3>
        <span ng-repeat="p in positions">
         {{company[p.name] | checkmark }} {{p.friendlyName}} &nbsp;&nbsp;
          <!-- also works?  {{company[p.name] | checkmark }} {{p.name | friendlyName}} &nbsp;&nbsp; -->
          <!--{{company[p.name] | checkmark }} {{p.name | friendlyName}} &nbsp;&nbsp; -->
          <!--script>alert(p.name);</script--
          
        </span>


        <h3> Majors </h3>
        <li ng-repeat="m in majors" ng-show="company[m.name]">{{m.friendlyName}}</li>
        <br>

        <h3> Description </h3>
        <p>{{company.description}}</p>
      </div>

      <label class="item item-input">
        <span class="input-label">Edit Name</span>
        <input type="text" ng-model="company.name">
      </label>


    </div>

  </ion-content>
</ion-view>
-->