<ion-view title="Booth Layout">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content> <!--class="has-header"-->
    <!-- style="background-color: #eee" preserveAspectRatio="xMinYMin meet" viewBox="0 0 400 400" width="100%" height="100%" class="svg-content" transform="translate(200,200)"preserveAspectRatio="xMinYMin meet"-->

<ion-scroll zooming="true" direction="xy" style="width: 100%; height: 1500px">


<style>

img.list-logo {
  width: 40px;
  top: 5px;
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
}

 .booth {
    fill:#b8ecff;
    stroke-width:2;
    stroke:rgb(0,0,0);
  }
  .boothlabel {
    text-anchor: "middle";
    alignment-baseline: "middle";
  }
  
  .boothId {font-size: 11px;}
  .compId {font-size: 14px;}
  
  .bNum {
    font-size: 14px;
    text-anchor: middle;
    alignment-baseline: middle;
    
  }
        
        
.room {
  fill: none;
  stroke-width: 2;
  stroke: black;
}

.pillar {
  fill: none;
  stroke-width: 2;
  stroke: black;
}

</style>


<!--figure class="svg-container ng-scope" style="height="100%"-->

<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
version="1.1" class="svg-content"
preserveAspectRatio="xMinYMin meet"
viewBox="-100 150 1500 1500" >
<!--
viewBox="{{startX - 20}} {{startY - 20}} {{mapWidth + 20}} {{mapHeight + 20}}"


viewBox="-100 150 1500 1500" >
script xlink:href="../js/SVGPan.js"/-->
  <!--style>
  .booth {
    fill:#b8ecff;
    stroke-width:2;
    stroke:rgb(0,0,0);
  }
  .boothlabel {
    text-anchor: "middle";
    alignment-baseline: "middle";
  }
</style-->

<g id="viewport">
        
    <g ng-repeat="b in floorplan">

        <rect class="booth" 
              ng-attr-id="{{b.compId}}"
              ng-click="go('/app/companies/{{b.compId}}')"
              ng-attr-x="{{b.x}}"
              ng-attr-y="{{b.y}}"
              ng-attr-width="{{boothWidth}}"
              ng-attr-height="{{boothHeight}}"
              />

              <image class="compLogo" 
             ng-attr-x="{{b.x + 2}}"
             ng-attr-y="{{b.y + 2}}"
             width="20" height="20"
             ng-xlink-href="http://lizzb.github.io/iday/www/img/logos/{{b.compId}}/square.png" 
             xlink:href="" />

          <text class="boothlabel"
            ng-attr-x="{{ b.x + boothWidth/2 }}"
            ng-attr-y="{{ b.y + boothHeight/2 }}"
            text-anchor="middle"
            alignment-baseline="middle">
          {{b.compId}}        
          </text>
          <!--text class="boothlabel compId"
            ng-attr-x="{{ b.x + boothWidth/2 }}"
            ng-attr-y="{{ b.y + boothHeight/2 }}   {{ b.y + boothHeight*3/4 }}""
            text-anchor="middle"
            alignment-baseline="middle">
            {{b.id}}        
          </text-->
    </g>


  </g>
</svg>
<!--/figure-->
</ion-scroll>
  <!--/ion-content-->
</ion-view>
