<ion-view title="Filter settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  
   Showing {{filteredList.length}} of {{all_companies.length}} total.
  Companies matching your filters: {{currentCompanies.length}}
  {{ (all_companies | filter:userFilter).length }}
    
    <!--<h1> Filter Settings</h1>
  
Showing {{filteredList.length}} of {{all_companies.length}} total. <br>
        {{filteredList.length}} of {{all_companies.length}} total companies. <br

<i class="fa fa-filter fa-lg"></i> Filter by:     



<div class="list">


using global POSITIONS and MAJORS cuz naughty

        -->

<div class="list">

        <div class="item item-divider"> 
          Positions
        </div>
        
        <ion-checkbox ng-repeat="item in POSITIONS"
                      ng-model="item.checked" 
                      ng-checked="item.checked">
          {{ item.friendlyName }}
        </ion-checkbox>

<!-- to show off the radio button we'll assume you only have one major, overachiever 
easily changed but changing to checkbox
-->

        <div class="item item-divider"> 
          Majors
        </div>
        
        <ion-radio ng-repeat="item in MAJORS"
                      ng-model="item.checked" 
                      ng-checked="item.checked"
                      ng-change="includeMajor()">
          {{ item.friendlyName }}
        </ion-radio>
        

        
        <div class="item item-divider"> 
          Notifications
        </div>
        
        <ion-toggle ng-model="pushNotification.checked"
                      ng-change="pushNotificationChange()">
          Enable Push Notifications
        </ion-toggle>
        
        
        <ion-toggle ng-model="emailNotification"
                      ng-true-value="Subscribed"
                      ng-false-value="Unubscribed">
          Include companies seeking "All Majors"
        </ion-toggle>
        
      </div>

  </ion-content>
</ion-view>





          



        <li class="divider"></li>
        <li class="dropdown-header">Positions</li>

        <div class="form-group">
          <checkbox-inline ng-repeat="p in positions">
          <label>
            <input type="checkbox" ng-click="includePosition(p.name)">
            &nbsp;{{p.friendlyName}}
            </label>
        </div> <!--/form-group-->



        <li class="divider"></li>
        <li class="dropdown-header">Majors</li>
        
         <div class="form-group"> <!-- data-toggle="buttons"-->
          <checkbox-inline ng-repeat="m in majors">
          <label>
            <input type="checkbox" ng-click="includeMajor(m.name)">
            &nbsp;{{m.friendlyName}}
            </label>
        </div> <!--/form-group-->
