.favorite {
  color: dodgerblue;
  font-size: x-large;
  font-weight: strong;
  z-index: -2; /* need to figure out how to make this lay on top!! */
}




/*http://codepen.io/lizz/pen/tfpzm?editors=110*/
.icon-circle,
.icon-circle-large,
.icon-circle-small{
  position: relative;
  display: inline-block;
  margin: -1px;
  /*padding: 16px;*/

  width: 45px; /* 60*/
  height: 45px; 
  font-size:40px; 
  
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius: 50%;

  border: 1px solid #ebebeb;
  background: rgb(0, 161, 225); /*#ececec;ebebeb*/
  color: #fff;
  text-align:center;
  /*vertical-align: middle;*/
}

.icon-circle-large {
  width: 100px;
  height: 100px;
  font-size: 64px; /* 64, originally 60 */
  padding: 16px;
}
.icon-circle-small {
  width: 24px;
  height: 24px;
  font-size: 20px;
}

.icon-circle {
  font-size: 32px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
   border: 1px solid rgb(0, 161, 225);
   background: transparent;
  color: rgb(0, 161, 225);
   /*color: #8a6de9;*/
}

.icon-circle-outline i {  }





/* Styles go here */
/*
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/



.boothNumId, .boothCompId {
   text-anchor: middle;
  alignment-baseline: middle;
}

 /* room outline */  
.roomOutline, .room {
  fill: #efefef;
  stroke-width: 2;
  stroke: black;
}


img.list-logo {
  width: 40px;
  top: 5px;
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
}

 .booth {
    fill:#b8ecff;
    stroke-width:2;
    stroke:rgb(0,0,0);
  }
  .boothlabel {
    text-anchor: "middle";
    alignment-baseline: "middle";
  }
  
  .boothId {font-size: 11px;}
  .compId {font-size: 14px;}
  
  .bNum {
    font-size: 14px;
    text-anchor: middle;
    alignment-baseline: middle;
    
  }
        
     

.pillar {
  fill: none;
  stroke-width: 2;
  stroke: black;
}


.roomTitle {
  font-weight: bold;
  font-family: Georgia;
  font-size  : 40pt;
  /*stroke : #000000;
  fill: #000000;*/
}

/* http://jsbin.com/pulaw/4/edit*/






















/* Empty. Add your own CSS if you like 
old css.....
.svg-container {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-bottom: 90%;
      vertical-align: middle;
      overflow: hidden;
    }

      figure { margin: 10; }
    
  element.style {
  }
  svg:not(:root) { overflow: hidden; }
  .svg-content {
    display: inline-block;
    position: absolute;
    top: 3rem;
    left: 0;
  }


  .locationLink {
  display: inline-block;
  padding: 22px;
  width: 42px;
  border-radius: 4px;
  list-style: none;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  text-decoration: none;
}

*/