/* Empty. Add your own CSS if you like */

.svg-container {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-bottom: 90%;
      vertical-align: middle;
      overflow: hidden;
    }

      figure { margin: 10; }
    
  element.style {
  }
  svg:not(:root) { overflow: hidden; }
  .svg-content {
    display: inline-block;
    position: absolute;
    top: 3rem;
    left: 0;
  }


  .locationLink {
  display: inline-block;
  padding: 22px;
  width: 42px;
  border-radius: 4px;
  list-style: none;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  text-decoration: none;
}